<div class="custom-select-container">
  <button type="button" class="custom-select-button" (click)="toggleDropdown($event)">
    + {{ selectedOption || '374' }}
  </button>
  @if (dropdownOpen) {

    <ul class="custom-select-options">
      <div #closeButton class="close-button">
        <i class="fa fa-close close_icon" (click)=closeInfoContainer()></i>
      </div>

      @for (option of options; track option; let i = $index) {
        <div (click)="selectOption(option.countryCode)" class="custom-select-list-container">
          <span>+ {{ option.countryCode }}</span>
          <span class="country-name">{{ option.countryName }}</span>
        </div>
      }
    </ul>
  }

</div>
