<div class="person_info_container">
  <i class="fa fa-close close_icon" (click)=closeInfoContainer()></i>
  <div class="company_list">
    <div class="company">
      <div class="left_side">
        <i class="company_img">
          <img src="../../../assets/company_icon.png"/>
        </i>
        <span class="company_name">"Company" LLC</span>
      </div>
      <span class="position">Owner</span>
    </div>
    <div class="company">
      <div class="left_side">
        <i class="company_img">
          <img src="../../../assets/company_icon.png"/>
        </i>
        <span class="company_name">"Company" 2</span>
      </div>
      <span class="position">Executive director</span>
    </div>
    <div class="company">
      <div class="left_side">
        <i class="company_img">
          <img src="../../../assets/company_icon.png"/>
        </i>
        <span class="company_name">"Company" 3</span>
      </div>
      <span class="position">Manager</span>
    </div>
    <div class="company">
      <div class="left_side">
        <i class="company_img">
          <img src="../../../assets/company_icon.png"/>
        </i>
        <span class="company_name">"Company" 4</span>
      </div>
      <span class="position">Owner</span>
    </div>
  </div>
</div>
